@import "~/src/styles/builders.scss";

.codeContainer {
  position: relative;
  width: 100%;
  height: 24rem;
  border-radius: var(--border-radius);

  background-color: var(--bg-subtle);
  border: 2px solid var(--fg-subtle);
  box-shadow: var(--box-shadow-subtle);
  overflow-x: auto;
  padding: 1rem;
  padding-top: 2rem;

  @include for-screens-below("m") {
    height: 18rem;
  }
}

.fileNameContainer {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 10px;
  background-color: var(--bg);
  padding: 0.4rem 1rem;

  display: flex;
  align-items: center;
  gap: var(--font-size-xs);

  @include for-screens-below("m") {
    gap: var(--font-size-xxs);
  }

  > span {
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--fg);

    @include for-screens-below("m") {
      font-size: var(--font-size-xxs);
    }
  }
  > svg {
    font-size: var(--font-size-s);
    font-weight: 600;
    color: var(--fg);

    @include for-screens-below("m") {
      font-size: var(--font-size-xs);
    }
  }
}

.codeLineContainer {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;

  @include for-screens-below("m") {
    height: 2rem;
  }

  > .lineNumber {
    display: flex;
    align-items: center;

    width: 2rem;
    height: 100%;
    color: var(--fg-subtle);
    font-size: var(--font-size-xs);
    font-weight: 600;

    margin-right: var(--font-size-l);
    border-right: 1px solid var(--fg-subtle);

    @include for-screens-below("m") {
      width: var(--font-size-l);
      font-size: var(--font-size-xxs);
      margin-right: var(--font-size-s);
    }
  }

  > .codeLine {
    width: 50%;
    font-size: var(--font-size-s);
    white-space: nowrap;

    @include for-screens-below("m") {
      font-size: var(--font-size-xs);
    }
  }
}

.buttonsContainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @include for-screens-below("m") {
    margin-top: 1rem;
  }
}

.formatButton {
  cursor: pointer;
  padding: var(--font-size-xs) var(--font-size-m);
  color: var(--bg);

  background: linear-gradient(to right, #a8c0ff 30%, #644dc9 100%);
  border-radius: 5px;
  box-shadow: var(--box-shadow);

  transition: background-position 0.4s, filter 0.2s;
  background-size: 150% auto;
  background-position: 0% 50%;

  font-size: var(--font-size-s);
  font-weight: 600;

  @include for-screens-below("m") {
    font-size: var(--font-size-xs);
    padding: var(--font-size-xxs) var(--font-size-s);
  }

  &:hover {
    background-position: 100% 50%;
  }

  &[data-selected="true"] {
    filter: brightness(1);
  }
  &[data-selected="false"] {
    filter: brightness(0.7);
  }
}
