@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --border-radius: 20px;
  --box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.461);
  --box-shadow-subtle: 5px 5px 20px rgba(0, 0, 0, 0.1);

  --bg: #393d43;
  --fg: #E3E6EF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Montserrat', system-ui, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: rgb(20, 23, 34);
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
