.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  min-height: 100vh;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5rem;

  color: var(--fg);
}

.chartsContainer {
  margin-bottom: 2rem;
  width: 80%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;

  & > div {
    transition: all 0.3s;
  }
}