.algorithmCard {
  text-align: left;
  padding: 1rem;
  height: max-content;
  border-radius: var(--border-radius);
  background-color: var(--bg-subtle);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--fg-subtle);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &[data-readonly="false"] {
    user-select: none;
    cursor: pointer;
    transition: border 0.2s;
    &:hover {
      border: 2px solid var(--accent-alt);
    }
  }

  > h3 {
    font-size: var(--font-size-m);
    font-weight: 600;
    color: var(--fg);
    margin-bottom: 1rem;
  }
}

.algorithmClasses {
  width: 100%;
  color: var(--fg);

  > span {
    display: block;
    font-size: var(--font-size-s);
    font-weight: 400;
    margin-bottom: var(--font-size-s);
  }

  > ul > li {
    font-size: var(--font-size-s);
    font-weight: 500;

    margin: var(--font-size-xs) 0;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  svg {
    font-size: 0.9rem;
  }
}

.algorithmTooltip {
  width: 50rem !important;
}
