@import "~/src/styles/builders.scss";

.algorithmCard {
  text-align: left;
  padding: 1rem;
  height: max-content;
  border-radius: var(--border-radius);
  background-color: var(--bg-subtle);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--fg-subtle);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &[data-readonly="false"] {
    user-select: none;
    cursor: pointer;
    transition: border 0.2s;
    &:hover {
      border: 2px solid var(--accent-alt);
    }
  }

  > h3 {
    font-size: var(--font-size-m);
    font-weight: 600;
    color: var(--fg);
    margin-bottom: var(--font-size-m);

    @include for-screens-below("m") {
      font-size: var(--font-size-s);
    }
  }
}

.featureList {
  width: 100%;
  color: var(--fg);

  > span {
    display: block;
    font-size: var(--font-size-s);
    font-weight: 400;
    margin-bottom: var(--font-size-xs);

    @include for-screens-below("m") {
      font-size: var(--font-size-xs);
    }
  }

  > ul {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-xs);

    @include for-screens-below("m") {
      gap: var(--font-size-xxs);
    }
  }

  > ul > li {
    font-size: var(--font-size-s);
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 0.4rem;

    @include for-screens-below("m") {
      font-size: var(--font-size-xxs);
    }
  }

  svg {
    font-size: 0.9rem;
  }

  .dot {
    font-size: 0.2rem;
  }
}

.languageList {
  @extend .featureList;
  margin-bottom: var(--font-size-m);
}

.algorithmClasses {
  @extend .featureList;
}

.algorithmTooltip {
  width: 50rem !important;
}
