.container {
  margin-top: 4rem;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: var(--fg);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  > svg {
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: var(--accent);
    }
  }
}

.algorithmsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
