@import "~/src/styles/builders.scss";

.container {
  width: 100%;
  height: 100%;
}

.title {
  font-size: var(--font-size-m);
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--fg);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  @include for-screens-below("m") {
    font-size: var(--font-size-s);
  }

  > svg {
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: var(--accent);
    }

    @include for-screens-below("m") {
      font-size: 1rem;
    }
  }
}

.algorithmsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  @include for-screens-below("m") {
    gap: 2rem;
  }
}
