.container {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

.body {
  font-size: 0.85rem;
}

.scoreTable {
  margin-top: 1rem;
}

.cite {
  font-size: 0.75rem;
  margin-top: 1.8rem;
}
