.container {
  width: 100%;
  height: 100%;
}

.title {
  font-size: var(--font-size-m);
  margin-bottom: 1rem;
  letter-spacing: 0.6px;
}

.body {
  font-size: var(--font-size-s);
  line-height: calc(var(--font-size-s) * 1.5);
}

.scoreTable {
  margin-top: 1rem;
}

.cite {
  font-size: var(--font-size-xs);
  margin-top: 2rem;
}
