@import "~/src/styles/builders.scss";

.card {
  height: 100%;
  padding: 1rem 2rem;

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-subtle);
  background-color: var(--bg-subtle);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;

  @include for-screens-below("m") {
    justify-content: space-between;
    gap: 0;
  }
}

.totalTooltip {
  width: 20rem !important;
}

.timeTooltip {
  width: 30rem !important;
}

.algorithmTooltip {
  width: 45rem !important;
}
