.container {
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: var(--fg);
}

.algorithmsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
