.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: var(--font-size-l);
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: 1px;

  background: linear-gradient(to right, #a8c0ff 30%, #644dc9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: var(--fg);
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  > .at {
    z-index: 1;
    position: absolute;
    top: 46%;
    left: var(--font-size-s);
    transform: translateY(-50%);
    color: var(--fg-subtle);
    font-weight: 600;
    transition: color 0.2s;
  }
}

.input {
  width: 16rem;
  padding: var(--font-size-s) var(--font-size-l);
  padding-left: 2.2rem;
  border-radius: var(--border-radius);
  color: var(--fg);
  font-weight: 600;
  font-size: var(--font-size-s);
  text-align: left;
  background-color: var(--bg-subtle);
  border: 2px solid var(--fg-subtle);
  box-shadow: var(--box-shadow);

  transition: background-color 0.2s, border 0.2s;
  &:focus {
    border: 2px solid #1da1f2;
    background-color: var(--bg-subtle-alt);

    ~ .at {
      color: var(--fg);
    }
  }
}

.searchButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: calc(100% + var(--font-size-m));
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--font-size-xs);
  border-radius: var(--border-radius);
  background-color: var(--bg-subtle);
  border: 2px solid var(--fg-subtle);
  box-shadow: var(--box-shadow);

  > svg {
    color: var(--fg);
    font-size: var(--font-size-m);
  }

  transition: background-color 0.2s, border 0.2s;
  &:hover {
    background-color: var(--bg-subtle-alt);
    border: 2px solid #1da1f2;
  }
}
