
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

input {
  all: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.link {
  color: var(--accent);
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.tooltip {
  --rt-opacity: 1;
  user-select: text;
  padding: 1rem !important;
  border-radius: var(--border-radius) !important;
  box-shadow: var(--box-shadow) !important;
  background-color: var(--bg) !important;
  z-index: 1000;

  > h2 {
    font-size: var(--font-size-m);
    margin-bottom: 1rem;
    letter-spacing: 0.6px;
  }

  > p {
    font-weight: 400;
    font-size: var(--font-size-s);
    line-height: calc(var(--font-size-s) * 1.5);
  }
}

.vSpace {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}
