:root {
  --border-radius: 10px;
  --box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.461);
  --box-shadow-subtle: 5px 5px 20px rgba(0, 0, 0, 0.1);

  --bg: #141722;
  --bg-subtle: #22272e;
  --fg: #e3e6ef;
  --fg-subtle: rgb(76, 79, 94);

  --accent: #30d0d0;

  --cyan: #89dceb;
  --green: #3db84d;
  --red: #f28fad;
}
