:root {
  --border-radius: 10px;
  --box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.461);
  --box-shadow-subtle: 5px 5px 20px rgba(0, 0, 0, 0.2);

  --bg: #141722;
  --bg-subtle: #1e202c;
  --bg-subtle-alt: #252734;
  --fg: #e3e6ef;
  --fg-subtle: #4c4f5e;

  --accent: #30d0d0;
  --accent-alt: #a8aeff;

  --cyan: #89dceb;
  --green: #3db84d;
  --red: #f28fad;
}
